* {
    margin: 0;
    padding: 0;
}
#editStatus {
    -unity-text-align: middle-center;
    padding: 5px;
    font-size: 18px;
}
#itemLabel {
    margin-top: 15px;
}
.settingContainer {

}
.settingContainer > *, TextField, ColorField {
    margin-bottom: 4px;
    margin-top: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.hidden {
    display: none;
}
#editFinishBtn {
    margin-top: 20px;
}
#itemDesc {
    min-height: 60px;
}
Button {
    padding: 2px 0 2px 0;
    margin-bottom: 5px;
}